<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>


<body>
    <header>
        <h3>Category</h3>
    </header>

    <section class="category-quiz">
      <h4>Choose a category</h4>
      <ul>
        <li> <img src="./images/general-knowledge-icon.png" alt="General knowledge quiz">General  Knowledge </li>
        <li> <img src="./images/art&design.png" alt="Art and design quiz">Art&Design</li>
        <li> <img src="./images/music.png" alt="Music quiz">Music</li>
        <li><img src="./images/science-icon.png" alt="Science quiz">Science</li>
        <li> <img src="./images/history-icon.png" alt="History">History</li>
        <li> <img src="./images/games-icon.png" alt="Video games">Video Games</li>
      </ul>
    </section>

    <%- include("./partials/footer") %>
</body>

</html>