
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat system</title>
    <link rel="stylesheet" href="/styles/home.css">

</head>


<body>
    <div>
        <header>
            <div>
                <span>A</span>
                <span>B</span>
                <span>C</span>
            </div>
            <h1>QuizMe</h1>
        </header>

        <form action="">
            <label for="username">Enter username</label>
            <input id="username" type="text" placeholder="Enter Username">

            <button type="submit">Let's Play</button>
        </form>
    </div>

    <%- include("./partials/footer") %>
</body>

</html>