<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <main>

        <header>
         <h3>General Knowledge</h3>
        </header>
        <section class="quiz">
            <h5>Quiz</h5>
            <div id="question"></div>
            <div id="choices"></div>
            <button id="next-btn">Next</button>

        </section>

        <%- include("./partials/footer") %>
        <script src="scripts/quiz.js"></script>
       

    </main>

</body>

</html>